<nav class="navbar navbar-toggleable-md navbar-light">
              <div class="container">
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <a class="navbar-brand" href="/index">
                    <img src="http://img.lifestyler.co.kr/uploads/program/1/1454/skin/f131279831157707045(0).jpg">
                  </a>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                      </li>
                      <br>
                      <li class="nav-item">
                        <a class="nav-link" href="/index">편의점 꿀조합 |</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/my_recipe"> 내가 만든 편의점 레시피 | </a>
                      </li>
                     <br>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           편의점 특별 아이템
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/cu">CU</a>
                          <a class="dropdown-item" href="/gs25">GS25</a>
                          <a class="dropdown-item" href="/seveneleven">Seven eleven</a>
                        </div>
                      </li>
                    </ul>
                  </div>
             </nav>
            <!--nav end-->
            
<!--<div class="container">-->
<!--    <section id="about">-->
<!--          <div class="recommend_image">-->
<!--            <img class="rounded" src="<%=@test.image%>" alt="Card image cap">-->
<!--          </div>-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="about-us" style="color: black">-->
<!--                            <h3><%=@aa.split("레시피").first%></h3>-->
<!--                            <hr>-->
<!--                            <h3>레시피</h3>-->
<!--                            <h3><%=@aa.split("레시피")[1]%></h3>-->
<!--                    </div>-->
<!--                </div>-->
                <!--try-->
                
                <div class="container">
                    <!-- 쓸모 없는 공간을 만들기 위한 블럭-->
                    <table border="0" width="200" height="80">
                    <tr>
                     <td></td>
                    </tr>
                    </table>
                    <!--end-->
                <div class="row">
                  <div class="col-4">
                    <div class="recommend_image">
                    <img class="rounded" src="<%=@test.image%>" alt="Card image cap">
                  </div>
                  </div>
                  <div class="col-6">
                      <div class="about-us" style="color: black">
                            <h3><%=@aa.split("레시피").first%></h3>
                            <hr>
                            <h3>레시피</h3>
                            <h3><%=@aa.split("레시피")[1]%></h3>
                      </div>
                  </div>
                 </div>
                 <!--end-->
                 <br>
                 <br>
                 <hr>
                 <h2 style= "color:#1065b7">댓글목록</h2>
                 <br>
                 
                    <%@test.comments.each do |c|%>
                     <h4>익명 : <%=c.content%> |<a href="/comment/delete/<%=c.id%>">삭제</a></h4>
                     <%end%>
                     <hr>
                    <form action="/comment/create/<%=@test.id%>" method = post>
                        <input type= 'textarea' name='comment'>
                        <input type= 'submit' value = '댓글'>
             </div>
                
    </section>
</div>